@import "/styles/mixins/color.scss";
@import "/styles/mixins/responsive.scss";

.container {
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    background-color: $black-color;
    border-bottom: 0.5px solid $gray-color;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include Phone {
      padding-top: 1rem;
      padding-bottom: 1rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
}

.menu {
    color: $yellow-color;
    font-size: 26px;
    a + a {
        margin-left: 38.9px;
    }

    @include Phone {
      font-size: 20px;
      display: block;
      margin-left: 0;
    }
}

.action {
    text-align: center; /* Centraliza o botão */

    @include Phone {
      text-align: left;
      width: 100%;
    }
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #25D366; /* Cor do botão WhatsApp */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    animation: blink 1s infinite; /* Adiciona a animação de piscar */
  
    &:hover {
      background-color: #1ebd5a; /* Cor do botão ao passar o mouse */
    }
    
    @include Phone {
      width: 100%;
      padding: 12px 24px;
      font-size: 14px;
      text-align: center;
    }
}

@keyframes blink {
    50% {
      opacity: 0.5; /* Reduz a opacidade para 50% no meio da animação */
    }
}

  
